@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');


$mobilek: 768px;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}