
footer {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  background: $bd1;
  color: $col1;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
}
footer a {
  font-size: 1.2rem;
  color: $col1;
  text-decoration: none;
  margin-right: 0.5rem;
  transition: transform 0.5s ease-in-out;

  &:hover {
    transform: translate(-2px, -2px);
    transition: transform 0.5s ease-in-out;
  }
}